@import "../../../assets/scss/mixins";

.add-expense {
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-expense__form {
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;

  textarea {
    height: 24px;
  }
}


