@import "../../../assets/scss/mixins";

.expense-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;

  @include tablet() {
    align-items: center;
    flex-direction: column;
  }

  .totals {
    flex: 0 0 40%;

    @include tablet() {
      flex: 0 0 100%;
      width: 100%;
      margin-bottom: 30px;
    }
  }

  .list {
    flex: 0 0 60%;

    @include tablet() {
      flex: 0 0 100%;
      width: 100%;
    }
  }

  .expense-list__table,
  .expense-list__total {
    width: 100%;


  }


  .expense-list__list {

  }
}


table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #f5f5f5;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-description {
  padding: 16px;
}
