@import "../../../assets/scss/mixins";
@import "../../../assets/scss/var";

.expense-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;

  @include tablet() {
    align-items: center;
    flex-direction: column;
  }

  mat-card.mat-card {
    @include phone() {
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  h2 {
    @include phone() {
      font-size: 18px;
      line-height: 22px;
    }
  }

  table.mat-table {

    th, td {
      @include phone() {
        font-size: 12px;
      }
    }
  }

  .totals {
    flex: 0 0 35%;

    @include tablet() {
      flex: 0 0 100%;
      width: 100%;
      margin-bottom: 30px;
    }
  }

  .list {
    flex: 0 0 60%;

    @include tablet() {
      flex: 0 0 100%;
      width: 100%;
    }
  }

  .expense-list__table,
  .expense-list__total {
    width: 100%;


  }

  .expense-list__table {

    .mat-header-cell:first-letter {
      text-transform: capitalize;
    }

    tr.description-row {
      height: 0;
    }

    .show-description {
      color: $app-color-6;
      cursor: pointer;
    }

    .element-detail {
      overflow: hidden;
      display: flex;
    }

    .element-body {
      padding: 16px;
    }
  }
}
